

.container-site{
    width: 90%;
    margin: auto;
}
.box2{
     position: relative;
}

.content img{
    width: 100%;
}
.content .box2 .overlay{
    background: rgba(0, 0, 0, 0.492);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    text-align: center;
    width: 95%;
    height: 100%;
    margin: auto;
    opacity: 0;
    
}
.content .box1 img:hover .overlay{
    opacity: 1;
}
